//预定义样式
*{color:#666;}
.w980{width:980px;margin:0 auto;}
.border{border:1px red solid;}
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}
.mt10{margin-top:10px;}
.mt20{ margin-top:20px;}
.mt35{ margin-top:35px;}


a{ text-decoration:none; color:#333333; }
input{width:280px;height:40px;border:1px solid #d0d0d0;margin-top:20px;color:#ccc;}
.submit{border-radius:3px;border:none;background-color:#FD528B;color:#fff;font-size:18px;font-family:黑体;}
.submit:hover{background-color:#ff78a5;}
.w-footer-mini{border-top:5px solid #DBDBDB;padding:40px 0 20px}.w-footer-mini .wrap{width:980px;margin:0 auto}.w-footer-mini .links{color:#666;text-align:left}.w-footer-mini .links a,.w-footer-mini .links span{display:inline-block}.w-footer-mini .links .link{color:#666}.w-footer-mini .links .tel{color:#FD678C;margin:0}.w-footer-mini .links span{margin:0 12px;color:#ccc}.w-footer-mini .site-info{line-height:40px;font-family:SimSun;color:#999;text-align:left}.w-footer-mini .site-info .link{color:#999}.w-footer-mini .site-info .copyright{font-family:"Microsoft Yahei"}